<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>feedUrl</key>
			<string>cate=haolaiwu</string>
			<key>name</key>
			<string>美剧</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=europe</string>
			<key>name</key>
			<string>欧洲</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=guoyu</string>
			<key>name</key>
			<string>国语</string>
		</dict>
	</array>
	<key>Histories</key>
	<array/>
	<key>ServerAddressBase</key>
	<string>http://192.168.1.149/hdv/getfeed.php?</string>
</dict>
</plist>
