<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>feedUrl</key>
			<string>category=movie</string>
			<key>name</key>
			<string>电影</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>category=tv</string>
			<key>name</key>
			<string>电视</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>category=movie&amp;area=cn</string>
			<key>name</key>
			<string>华语大片</string>
		</dict>
	</array>
	<key>Histories</key>
	<array/>
	<key>ServerAddressBase</key>
	<string>http://192.168.1.139/hdv/getfeed.php?</string>
</dict>
</plist>
