<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>feedUrl</key>
			<string>cate=serial&amp;area=美国</string>
			<key>name</key>
			<string>美剧</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=serial&amp;area=香港,台湾</string>
			<key>name</key>
			<string>港台剧</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=serial&amp;area=大陆</string>
			<key>name</key>
			<string>大陆剧</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=serial&amp;area=韩国,泰国,其他</string>
			<key>name</key>
			<string>其他电视剧</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=movie&amp;area=美国,欧洲,法国,意大利,德国</string>
			<key>name</key>
			<string>欧美大片</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=movie&amp;area=大陆,台湾,香港</string>
			<key>name</key>
			<string>华语电影</string>
		</dict>
		<dict>
			<key>feedUrl</key>
			<string>cate=movie&amp;area=韩国,日本,印度,泰国,其他</string>
			<key>name</key>
			<string>其他电影</string>
		</dict>
	</array>
	<key>Histories</key>
	<array/>
	<key>Favorites</key>
	<array/>
	<key>ServerAddressBase</key>
	<string>http://hmw041130.chinaw3.com/feed.ashx?pagesize=20&amp;</string>
	<key>AppLoadedTimes</key>
	<integer>0</integer>
</dict>
</plist>
